<section class="cart-items">
    <h1>Your cart items</h1>
    <a href="/index" class="back-to-shopping" title="Back to shopping">Back to shopping</a>
</section>

<style>
    .cart-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        
    }
    .cart-items h1 {
        font-size: 2.625em;
    }
    .cart-items a {
        text-decoration: underline;
        color: var(--green);
        font-family: 'Roboto', sans-serif;
        font-size: 1.125em;
        font-weight: 600;
    }
</style>
{% schema %}
{
    
}
{% endschema %}