<section class="custom-footer">
    <hr class="custom-separator">
    <div class="information">
        <div class="candleaf-info">
            <img src="{{ 'logo-footer.png' | asset_img_url: 'medium' }}" alt="">
            <p class="logo-text">{{ section.settings.logo-text }}</p>
        </div>
        <div class="footer-links">
            <div class="discovery">
                <a href="#">Discovery</a>
                <a href="#">New season</a>
                <a href="#">Most searched</a>
                <a href="#">Most selled</a>
            </div>
            <div class="about">
                <a href="#">About</a>
                <a href="#">Help</a>
                <a href="#">Shipping</a>
                <a href="#">Affiliate</a>
            </div>
            <div class="info">
                <a href="#">Info</a>
                <a href="#">Contac us</a>
                <a href="#">Privacy Policies</a>
                <a href="#">Terms & Conditions</a>
            </div>
        </div>
    </div>
</section>

<style>

    .custom-footer {
        background: rgba(0, 0, 0, 0.9);
        padding: 5% 10%;
        margin-top: 65px;
    }
    .information {
        display: flex;
        justify-content: space-between;

    }
    .custom-separator {
        margin: 16px;
        border-top: 1px solid #FFFFFF;
        border-radius: 5px;
    }
    .logo-text {
        color: var(--white);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1em;
        max-width: 260px;
        line-height: 1.5;
    }

    .footer-links a{
        text-decoration: none;
        color: var(--white);
        font-family:  'Poppins', sans-serif;
    }
    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .discovery, .about, .info {
        display: flex;
        flex-direction: column;
    }

    .discovery a, .about a, .info a {
        margin-top: 20px;
    }

    .discovery a:first-child, .about a:first-child, .info a:first-child {
        color: var(--green);
        margin-bottom: 10px;
        margin-top: 30px;
    }
</style>
{% schema %}
{
    "name": "Footer", // Section name
    "settings": [
    {
    "id": "logo-text",
    "type": "text",
    "label": "Logo text"
    }]
}
{% endschema %}